@import "./variables.scss";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    color: inherit;
}

body{
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
}

.modal-open {
    overflow: hidden;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button,
a,
input,
select,
label {
    font-family: inherit;
}

.w-button{
    @include input_reset;
    background-color: #FF4A43;
    color: #fff;
    padding: .6rem 2.5rem;
    border-radius: 2rem;
}

.fade-enter-active, 
.fade-leave-active {
    transition: all .2s ease;
}

.fade-enter,
.fade-leave-active  {
    opacity: 0;
}