
@mixin flex_center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex_column() {
    display: flex;
    flex-direction: column;
}

@mixin flex_vertical_center() {
    display: flex;
    align-items: center;
}

@mixin flex_horizontal_center() {
    display: flex;
    justify-content: center;
}

@mixin flex_horizontal_between() {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_vertical_between() {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@mixin flex_vertical_end() {
    display: flex;
    align-items: flex-end;
}

@mixin flex_horizontal_end() {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@mixin input_reset() {
    outline: none;
    background: none;
    border: none;
}