@import "@/assets/css/variables.scss";

.messages{
    &__date{
        max-width: 210px;
        position: relative;
        font-size: 1.1rem;
        &::before{
            font-family: 'Material Icons';
            content: "calendar_today";
            position: absolute;
            right: .6rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__text{
        &__menu-bar{
            margin-top: 1rem;
            @include flex_vertical_center;
        }
        &__menu-item{
            @include input_reset;
            @include flex_vertical_center;
            margin-left: 1rem;
            font-size: 1.1rem;
            font-weight: 700;
        }
        &__editor{
            padding: 1rem;
            border-radius: .6rem;
            margin-top: 1rem;
            background-color: #fff;
            // height: 100px;
            max-height: 100px;
            overflow: auto;
        }
        &__actions{
            margin-top: 1rem;
        }
    }
    &__content{
        height: 100vh;
    }
    &__container{
        margin-top: 2rem;
        height: 650px;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 3px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #585858;
            width: 3px;
        }
        &::-webkit-scrollbar-track{
            background-color: #dbdbdb;
        }
    }
    &__item{
        margin-top: 2rem;
        &:first-child{
            margin-top: 0;
        }
        font-size: 1.1rem;
        &__date{
            span{
                margin-right: 1rem;
            }
        }
        &__actions{
            @include flex_horizontal_between;
        }
        &__action{
            display: flex;
            i{
                font-size: 2.5rem;
            }
        }
        &__data{
            margin-top: 1rem;
            background-color: #fff;
            padding: 1rem;
            border-radius: 1rem;
            max-height: 200px;
            overflow: auto;
            line-height: 170%;
        }
    }
}