@import "@/assets/css/variables.scss";

.messages{
    &__date{
        max-width: 210px;
        position: relative;
        font-size: 1.1rem;
        &::before{
            font-family: 'Material Icons';
            content: "calendar_today";
            position: absolute;
            right: .6rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__text{
        &__menu-bar{
            @include flex_horizontal_between;
        }
        &__edit-bar{
            @include flex_vertical_center;
            margin-right: 1rem;
            .is-active{
                color: #FF4A43
            }
        }
        &__menu-item{
            cursor: pointer;
            @include input_reset;
            @include flex_vertical_center;
            margin-left: 1rem;
            font-size: 1.1rem;
            font-weight: 700;
            .input-file{
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
        }
        &__emoji{
            position: relative;
            .emoji-picker{
                position: absolute;
                z-index: 1;
                right: 0;
                border: 1px solid #ccc;
                width: 15rem;
                height: 20rem;
                overflow: auto;
                padding: 1rem;
                box-sizing: border-box;
                border-radius: 0.5rem;
                background: #fff;
                box-shadow: 1px 1px 8px #c7dbe6;
                &::-webkit-scrollbar{
                    width: 2px;
                }
                &::-webkit-scrollbar-thumb{
                    background-color: #585858;
                    width: 2px;
                }
                &::-webkit-scrollbar-track{
                    background-color: #dbdbdb;
                }
                .emojis {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    span {
                        padding: 0.2rem;
                        cursor: pointer;
                        border-radius: 5px;
                        &:hover {
                            background: #ececec;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        &__editor{
            padding: 1rem;
            border-radius: .6rem;
            margin-top: 1rem;
            background-color: #fff;
            max-height: 100px;
            overflow: auto;
        }
        &__actions{
            margin-top: 1rem;
            @include flex_horizontal_end;
            span{
                margin-right: 1rem;
                font-weight: 600;
                color: #FF4A43;
            }
        }
    }
    &__container{
        margin-top: 2rem;
        // height: 70%;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 2px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #585858;
            width: 2px;
        }
        &::-webkit-scrollbar-track{
            background-color: #dbdbdb;
        }
    }
    &__item{
        margin-top: 2rem;
        &:first-child{
            margin-top: 0;
        }
        font-size: 1.1rem;
        &__date{
            span{
                margin-right: 1rem;
            }
        }
        &__actions{
            @include flex_horizontal_between;
            padding: 0 1rem;
        }
        &__action{
            display: flex;
        }
        &__data{
            margin-top: 1rem;
            background-color: #fff;
            padding: 1rem;
            border-radius: 1rem;
            max-height: 200px;
            overflow: auto;
            line-height: 170%;
        }
    }
}

@media screen and (max-width: 1200px){
    .messages{
        &__date{
            font-size: 1rem;
        }
        &__item{
            font-size: 1rem;
        }
        &__text{
            &__menu-item{
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 600px){
    .messages{
        &__text{
            &__menu-bar{
                flex-direction: column;
                align-items: flex-start;
            }
            &__actions{
                span{
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
                flex-direction: column;
                align-items: flex-end;
                .w-button{
                    min-width: 200px;
                }
            }
            &__edit-bar{
                margin-top: 1rem;
            }
            &__emoji{
                .emoji-picker{
                    left: -8rem;
                }
            }
        }
        &__item{
            &__date{
                font-size: .9rem;
                line-height: 150%;
                @include flex_column;
                span{
                    margin-right: 1rem;
                }
            }
            &__actions{
                @include flex_horizontal_between;
                padding: 0 1rem;
            }
            &__data{
                margin-top: 1rem;
                background-color: #fff;
                padding: 1rem;
                border-radius: 1rem;
                max-height: 200px;
                overflow: auto;
                line-height: 170%;
            }
        }
    }
}