@import "@/assets/css/variables.scss";
.message{
    outline: none;
    background-color: #fff;
    border: 1px solid #000;
    height: 100px;
    max-height: 100px;
    overflow: auto;
}

.messages{
    &__content{
        height: 100vh;
    }
    &__container{
        margin-top: 2rem;
        height: 550px;
        overflow: auto;
    }
    &__item{
        margin-top: 2rem;
        &:first-child{
            margin-top: 0;
        }
        font-size: 1.1rem;
        &__date{
            span{
                margin-right: 1rem;
            }
        }
        &__actions{
            @include flex_horizontal_between;
        }
        &__action{
            display: flex;
            i{
                font-size: 2.5rem;
            }
        }
        &__data{
            margin-top: 1rem;
            background-color: #fff;
            padding: 1rem;
            border-radius: 1rem;
            max-height: 200px;
            overflow: auto;
            line-height: 170%;
        }
    }
}