@import "@/assets/css/variables.scss";

.toolbar{
    height: 100px;
    padding: 0 2rem;
    @include flex_horizontal_between;
    &__button{
        visibility: hidden;
    }
    &__actions{
        font-weight: 700;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 1200px){
    .toolbar{
        height: 90px;
        &__actions{
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 900px){
    .toolbar{
        &__button{
            visibility: visible;
        }
    }
}

@media screen and (max-width: 600px){
    .toolbar{
        height: 80px;
        padding: 0 1rem;
    }
}
