@import "@/assets/css/variables.scss";

.control-panel{
    display: flex;
    min-height: 100vh;
    background-color: #f1f1f1;
    overflow: hidden;
    &__sidebar{
        position: fixed;
        z-index: 999;
    }
    &__container{
        margin-left: 290px;
        width: 100%;
    }
    &__content{
        padding: 0 2rem;
        padding-bottom: 1rem;
    }
}

.outside-bg{
    display: none;
    position: fixed;
    // background-color: rgba(0, 0, 0, 0.335);
    width: 100%;
    height: 100%;
    z-index: -1;
}

@media screen and (max-width: 1200px){
    .control-panel{
        &__container{
            margin-left: calc(200px + 2rem);
        }
        &__content{
            padding: 0 2rem;
            padding-bottom: 1rem;
        }
    }
}

@media screen and (max-width: 1000px){
    .control-panel{
        &__container{
            margin-left: calc(180px + 2rem);
        }
    }
}

@media screen and (max-width: 900px){
    .outside-bg{
        display: block;
    }
    .control-panel{
        &__sidebar{
            left: -100%;
            transition: .3s;
        }
        &__container{
            margin-left: 0;
        }
    }
}