@import "@/assets/css/variables.scss";

.control-panel{
    display: flex;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #e7e7e7;
    overflow: hidden;
    &__container{
        width: 100%;
        overflow: hidden;
    }
    &__content{
        padding: 0 2rem;
        width: 100%;
        height: 100%;
        overflow-y: auto;
    }
}