@import "@/assets/css/variables.scss";

.a-table{
    &__header, &__body__content{
        margin-left: 2.5rem;
        display: grid;
        font-size: 1.1rem;
    }
    &__header{
        font-weight: 700;
        margin-top: 2rem;
    }
    &__body{
        margin-top: 2rem;
        &__content{
            height: 90px;
            align-items: center;
        }
        &__item{
            border-radius: 1rem;
            background-color: #fff;
        }
        &__actions{
            cursor: pointer;
            justify-self: end;
            padding-right: 2.5rem;
        }
    }
    &__empty{
        margin: 0 2.5rem;
        margin-top: 5rem;
        h1{
            font-size: 1.1rem;
        }
        button{
            margin-top: 2rem;
        }
    }
    &__button{
        @include flex_horizontal_end;
        margin-bottom: 3rem;
        span{
            margin-right: 1rem;
        }
    }
}