@import "@/assets/css/variables.scss";

.a-table{
    &__header, &__body__content{
        margin-left: 2.5rem;
        display: grid;
        font-size: 1.1rem;
    }
    &__header{
        font-weight: 700;
        margin-top: 2rem;
    }
    &__body{
        margin-top: 2rem;
        &__content{
            margin-top: 2rem;
            height: 90px;
            align-items: center;
        }
        &__item{
            border-radius: 1rem;
            background-color: #fff;
        }
        &__actions{
            @include flex_vertical_center;
            cursor: pointer;
            justify-self: end;
            padding-right: 2.5rem;
        }
    }
    &__empty{
        margin: 0 2.5rem;
        margin-top: 5rem;
        h1{
            font-size: 1.1rem;
        }
        button{
            margin-top: 2rem;
        }
    }
    &__button{
        @include flex_horizontal_end;
        margin-bottom: 3rem;
        span{
            margin-right: 1rem;
        }
    }
}
.only-mobile{
    display: none;
}
@media screen and (max-width: 1200px){
    .a-table{
        &__header, &__body__content{
            margin-left: 2rem;
            font-size: 1rem;
        }
        &__body{
            margin-top: 1.5rem;
            &__content{
                height: 70px;
            }
            &__actions{
                padding-right: 2rem;
            }
        }
        &__empty{
            margin: 0 2.5rem;
            margin-top: 5rem;
            h1{
                font-size: 1.1rem;
            }
            button{
                margin-top: 2rem;
            }
        }
        &__button{
            @include flex_horizontal_end;
            margin-bottom: 3rem;
            span{
                margin-right: 1rem;
            }
        }
    }
}


@media screen and (max-width: 1000px){
    .a-table{
        &__header, &__body__content{
            font-size: .9rem;
        }
    }
}

@media screen and (max-width: 700px){
    .only-mobile{
        display: inline-block;
        color: #929292;
    }
    .only-mobile >>> br{
        display: none;
    }
    .only-mobile__container{
        @include flex_column;
    }
    .only-mobile__title{
        font-weight: 600;
    }
    .a-table{
        &__header{
            display: none;
        }
        &__body__content{
            margin-left: 0;
            font-size: 1.1rem;
            @include flex_column;
            line-height: 200%;
        }
        &__body{
            &__content{
                position: relative;
                height: 100%;
                padding: 1rem;
                align-items: flex-start;
            }
            &__item{
                border-radius: 1rem;
                background-color: #fff;
            }
            &__actions{
                position: absolute;
                right: 0;
                padding-right: 2rem;
            }
        }
        &__empty{
            margin: 0;
            text-align: center;
            margin-top: 5rem;
        }
        &__button{
            margin-bottom: 2rem;
            span{
                margin-right: 1rem;
            }
            .w-button{
                width: 100%;
            }
        }
    }
}